workflows/free-n8n-workflows/examples/deep-research-tool
{
  "name": "Deep research tool",
  "nodes": [
    {
      "parameters": {
        "content": "# 🚀 Deep Research Tool\n\n**FREE AI-Powered Research** - No API keys required!\n\n## How It Works\n1. Enter your research topic in the chat\n2. Jina AI DeepSearch analyzes multiple sources\n3. Get a structured report with insights and sources\n\n## Example Queries\n- \"Latest developments in quantum computing\"\n- \"Impact of AI on healthcare\"\n- \"Renewable energy trends 2025\"\n\n## Tips\n- Be specific with your questions\n- Ask for comparisons or analyses\n- Request specific time periods if needed\n\n**Happy researching!** 💡",
        "height": 760,
        "width": 740,
        "color": 6
      },
      "id": "5dc7f977-24c2-4359-8ec1-d358beee5290",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Research Pipeline\n\nThis section sends your query to Jina AI and formats the response.\n\n**Nodes:**\n- Chat Trigger → Receives your question\n- HTTP Request → Calls Jina DeepSearch API\n- Code Node → Formats the Markdown output",
        "height": 300,
        "width": 740
      },
      "id": "8238268f-bcef-4093-9a77-c955bf7bc953",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How It Works\n\n**1. Input** → Enter your research question\n\n**2. AI Research** → Jina DeepSearch analyzes multiple sources\n\n**3. Format** → Code node cleans and structures the response\n\n**4. Output** → Receive a Markdown report with citations\n\n---\n\n**Customization:**\nEdit `reasoning_effort` in the HTTP node:\n- `low` = Quick results\n- `medium` = Balanced\n- `high` = Thorough analysis",
        "height": 440,
        "width": 740
      },
      "id": "3e446ee2-7fae-4599-a9a0-179ffa6c1cd2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://deepsearch.jina.ai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"jina-deepsearch-v1\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an advanced AI researcher that provides precise, well-structured, and insightful reports based on deep analysis. Your responses are factual, concise, and highly relevant.\"\n    },\n    {\n      \"role\": \"assistant\",\n      \"content\": \"Hi, how can I help you?\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Provide a deep and insightful analysis on: \\\"{{ $json.chatInput }}\\\". Ensure the response is well-structured, fact-based, and directly relevant to the topic, with no unnecessary information.\"\n    }\n  ],\n  \"stream\": true,\n  \"reasoning_effort\": \"low\"\n}",
        "options": {}
      },
      "id": "85a7cb45-2fe5-49e7-97ff-3c5894c0b249",
      "name": "Jina AI DeepSearch Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e2fa87d-b1e0-485c-bb4e-910b9feea52b",
      "name": "User Research Query Input",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        832,
        144
      ],
      "webhookId": "8a4b05af-cd63-4692-9924-e35aaed5f077",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "function extractAndFormatMarkdown(input) {\n    let extractedContent = [];\n\n    // Extract raw data string from n8n input\n    let rawData = input.first().json.data;\n\n    // Split into individual JSON strings\n    let jsonStrings = rawData.split(\"\\n\\ndata: \").map(s => s.replace(/^data: /, ''));\n\n    let lastContent = \"\";\n    \n    // Reverse loop to find the last \"content\" field\n    for (let i = jsonStrings.length - 1; i >= 0; i--) {\n        try {\n            let parsedChunk = JSON.parse(jsonStrings[i]);\n\n            if (parsedChunk.choices && parsedChunk.choices.length > 0) {\n                for (let j = parsedChunk.choices.length - 1; j >= 0; j--) {\n                    let choice = parsedChunk.choices[j];\n\n                    if (choice.delta && choice.delta.content) {\n                        lastContent = choice.delta.content.trim();\n                        break;\n                    }\n                }\n            }\n\n            if (lastContent) break; // Stop once the last content is found\n        } catch (error) {\n            console.error(\"Failed to parse JSON string:\", jsonStrings[i], error);\n        }\n    }\n\n    // Clean and format Markdown\n    lastContent = lastContent.replace(/\\[\\^(\\d+)\\]: (.*?)\\n/g, \"[$1]: $2\\n\");  // Format footnotes\n    lastContent = lastContent.replace(/\\[\\^(\\d+)\\]/g, \"[^$1]\");  // Inline footnotes\n    lastContent = lastContent.replace(/(https?:\\/\\/[^\\s]+)(?=[^]]*\\])/g, \"<$1>\");  // Format links\n\n    // Return formatted content as an array of objects (n8n expects this format)\n    return [{ text: lastContent.trim() }];\n}\n\n// Execute function and return formatted output\nreturn extractAndFormatMarkdown($input);\n"
      },
      "id": "d0af5de2-f123-49d1-ad5a-c122c43ccc33",
      "name": "Format & Clean AI Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        144
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "User Research Query Input": {
      "main": [
        [
          {
            "node": "Jina AI DeepSearch Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI DeepSearch Request": {
      "main": [
        [
          {
            "node": "Format & Clean AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdcc40da-b9a7-4d43-8de2-f74012aaddcd",
  "meta": {
    "instanceId": "a8f82fabd6c506070258ba0e5756d77a89c1fbe32440ca12ebbacc2589274770"
  },
  "id": "E8udF2lrlsZI5YPZ",
  "tags": [
    {
      "updatedAt": "2026-01-17T09:19:49.906Z",
      "createdAt": "2026-01-17T09:19:49.906Z",
      "id": "Idhwbw6NqF6tmzZQ",
      "name": "free workflow"
    },
    {
      "updatedAt": "2026-01-17T09:42:15.106Z",
      "createdAt": "2026-01-17T09:42:15.106Z",
      "id": "bpEcG7BHUEzcCIRn",
      "name": "deep research"
    }
  ]
}