workflows/free-n8n-workflows/examples/n8n-error-log
{
  "name": "Error Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "329521a5-e879-447b-b6fd-c9ef74895653",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd hh:mma') }}",
            "Workflow": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "Node": "={{ $json.execution.error.node.name }}",
            "Error Message": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        -160
      ],
      "id": "785b93ba-b3fa-4cb6-a555-1e42302c986d",
      "name": "Log Error"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08L6NKQBEW",
          "mode": "list",
          "cachedResultName": "all-awesome-ai-stuff"
        },
        "text": "=Workflow Error: {{ $json.workflow.name }}\n\n{{ $json.execution.error.node.name }} errored at {{ $now.format('yyyy-MM-dd hh:mma') }}.\n\nThe error message was: {{ $json.execution.error.message }}\n\nSee this execution here: {{ $json.execution.url }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        640,
        160
      ],
      "id": "c6ce47e7-41c7-4748-b4a3-2875aec62a60",
      "name": "Notification",
      "webhookId": "f7ea0908-8d52-4f41-863f-b2befd4991f8"
    },
    {
      "parameters": {
        "content": "# Error Logger\n\nCaptures errors from all workflows and logs to Google Sheets + Slack.\n\n**What gets logged:**\n- Timestamp\n- Workflow name\n- Failed node\n- Error message\n- Execution link",
        "height": 580,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -224
      ],
      "id": "a1b6f483-ae68-4a71-b795-45aaae9aed0f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide\n\n## Step 1: Set as Error Workflow\nGo to **Settings → Error Workflow** and select this workflow.\n\n## Step 2: Google Sheets\n1. [Copy the template](https://docs.google.com/spreadsheets/d/1Aiz1cpv1k6Qlmp1Cjmj0ZtNuG6fC_cG24O_XaiP8NOs/)\n2. Add Google Sheets credentials\n3. Update the node with your sheet ID\n\n## Step 3: Slack (Optional)\n1. Add Slack OAuth credentials\n2. Update channel ID in the Slack node\n\n---\n\n**Important:** This workflow must be **ACTIVE** to catch errors!",
        "height": 580,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -224
      ],
      "id": "23ed8d64-95b5-48ad-81bf-1a58e664612a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80acbb95-14bb-49e2-8320-404deb6d5bef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8f82fabd6c506070258ba0e5756d77a89c1fbe32440ca12ebbacc2589274770"
  },
  "id": "IBiQtKPRTRybUagX",
  "tags": [
    {
      "updatedAt": "2026-01-18T11:16:32.505Z",
      "createdAt": "2026-01-18T11:16:32.505Z",
      "id": "ocPPjfYjznVlEbdi",
      "name": "error log"
    },
    {
      "updatedAt": "2026-01-18T10:09:32.923Z",
      "createdAt": "2026-01-18T10:09:32.923Z",
      "id": "f0K1gw7zViYOwqwS",
      "name": "slack"
    },
    {
      "updatedAt": "2026-01-17T09:19:49.906Z",
      "createdAt": "2026-01-17T09:19:49.906Z",
      "id": "Idhwbw6NqF6tmzZQ",
      "name": "free workflow"
    }
  ]
}